.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.app-left {
  width: 25%;
  height: 100%;
}

.app-right {
  width: 75%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .app-left {
    width: 100%;
  }

  .app-right {
    width: 100%;
  }

  .app-wrapper {
    flex-direction: column;
  }
}
